
/* Global Formats */

body {
  padding-top: 5rem;
  background-color: #e9ece5;
}

input {
  margin: 0;
  padding: .25rem .5rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.container {
  background  /*text-transform: uppercase;*/-color: inherit;
  height: 100vh;
}

.nav-background {
  background-color: #3b3a36;
  font-style: inherit;
  font-family: inherit;
  font-size: inherit;
}

/* Grocery List Formats*/

.grocery-item {
  margin-top: 0.25rem;
}

.grocery-item input {
  width: 33.33%;
}

.add-item-button {
  height: 30px;
  width: 100px;
  background-color: #e8edf3;
}

.add-item-button:hover {
  background-color: #ffffff;
}

#grocery-list {
  margin-top: 25px;
}

#grocery-list form {
  margin-bottom: 5px;
}

#server-message {
  color: #b56969;
}

/* Input Styles */

#groceryListSearchInput {
  margin-bottom: 0.5rem;
}

.shopping-list-input {
  margin-bottom: 1rem;
  width: 32.5%;
  padding: .25rem .5rem;
}

/* Search Bar & Result Styles */
#groceryListSearchOutput {
  padding: 0;
  position: absolute;
  margin-bottom: 5rem;
  width: auto;
}

.search-result-list-item {
  display: inline-block;
  width: 100%;
  padding: 1rem;

  cursor: pointer;
  background-color: #82a875;
  border: 0.05rem solid #454944;
  border-radius: .25rem;
  list-style-type: none;
  transition: all .5s ease-in;
}


.search-result-list-item:hover {
  background-color: #92bc84;
  transition: all .5s ease-in;
}

.search-result-list-item span {
  letter-spacing: 1px;
  font-family: inherit;#3b3a36
  font-size: inherit;
	font-weight: 700;
}


/* Button Styles */
.add-item-button {
  width: 32.5%;
  margin: .25rem 0rem 0rem 0rem;
  border: .5px solid darkgray;
  color: lightgray;
  background-color: #3b3a36;
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
	font-weight: 700;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.add-item-button:hover {
  color: #e9ece5;
  background-color: #4c4b48;
	/*letter-spacing: 1px;*/
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
	font-weight: 700;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
