body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.grocery-item {
  background-color: #ffffff;
}

.add-item-button {
  height: 30px;
  width: 100px;
}

.add-item-button:hover {
  background-color: #ffffff;
}

#grocery-list {
  margin-top: 25px;
}

#grocery-list form {
  margin-bottom: 5px;
}

#server-message {
  color: red;
}
